---
const hrefs = [
        "../../docs/guides", 
        "../../docs/ukmcl", 
        "../../docs/unkmod", 
        "../../docs/custom",
        "../../docs/elementa"
    ]
const names = [
        "Overview", 
        "UKMCL", 
        "Unknown Mod", 
        "Custom Splashes",
        "Elementa"
    ]
---

<aside id="side">
    <nav>
        <ul class="lexend-reg extend" id="list">
            <li>
                <a href={hrefs[0]} class="thing">{names[0]}</a>
            </li>
            <li>
                <a href={hrefs[1]} class="thing">{names[1]}</a>
            </li>
            <li>
                <a href={hrefs[2]} class="thing">{names[2]}</a>
            </li>
            <li>
                <a href={hrefs[3]} class="thing">{names[3]}</a>
            </li>            
            <li>
                <a href={hrefs[4]} class="thing">{names[4]}</a>
            </li>
        </ul>
    </nav>
</aside>

<style>
    #list {
        list-style: none;
        padding-top: 0;
        padding-left: 15px;
    }

    #side {
        line-height: 30px;
        width: 15vw;
        background-color: #131212;
        height: 100vh;
        padding-top: 1px;
    }

    .extend {
        position: fixed;
    }
</style>