---
import linData from '@public/launcher/version-lin.json' assert { type: "json" };
type launch = {
    version: string,
    changelog: string,
    download_url: string
};
const data2 = linData.versions ?? linData
const version = Array.isArray(data2) ? (data2 as unknown as launch[]) : [];
---

<ul>
    {
        version.map((ver) => (
            <li>
                <p style="font-weight: bold; font-size: 24px;">Version {ver.version}</p>
                <a href={ver.changelog}>UKMCL V{ver.version} Changelog</a> <br>
                <input type="button" onclick={ver.download_url} id="val1"></input>
            </li>
        ))
    }
</ul>

<script>
    const val1 = document.getElementById("val1")?.setAttribute("value",  "UKMCL {ver.version}");
</script>